$primary: var(--primary-color);
$green: #1C9300;
$white: #FFFFFF;
$black: #000000;
$red: #DE3A33;
$backgroundApp: #F0F3F8;
$light-gray: #e6e6e6;
$light-blue: #0058B10D;

$success-alert: #1F8600;
$light-green: #E8F5F1;
$error-alert: #FF5555;
$light-red: #f1dddd;

$btn-hover: var(--primary-color);
$border-radius: 10px;
