$primary: var(--primary-color);
$green: #1C9300;
$white: #FFFFFF;
$black: #000000;
$red: #DE3A33;
$backgroundApp: #F0F3F8;
$light-gray: #e6e6e6;
$light-blue: #0058B10D;

$btn-hover: var(--primary-color);
$border-radius: 10px;
