@charset 'utf-8';
@import "import";

html {
  padding-bottom: 0px;
}
body, html, #app {
  font-family: $font-family!important;
}

.font-regular {
  font-weight: 400!important;
}

strong {
  font-family: $font-family!important;
  font-weight: 600;
}

.fontSemibold {
  font-family: $font-family!important;
  font-weight: 600;
}

.fontBold {
  font-family: $font-family!important;
  font-weight: 700;
}

#app {
  .v-btn {
    &.btnPrimary {
      background-color: $primary;
      color: $white;
      &.text-none, &.text-none:hover, &.text-none:focus {
      background-color: transparent;
      color: $primary;
      }
    }
    &.btnSecondary {
      border: 1px solid $btn-hover;
      color: $primary;
      background-color: $white;
      &.text-none, &.text-none:hover, &.text-none:focus {
      background-color: transparent;
      color: $primary;
      }
    }
    &.v-actionCard {
      &:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
        opacity: 0;
      }
    }
  }

  .v-btn {
    &.btn--Small {
      min-height: 23px;
      font-size: $font-size-btn-small;
    }
    &.btn--Medium {
      min-height: 36px;
      font-size: $font-size-btn-medium;
    }
    &.btn--Large {
      min-height: 47px;
      font-size: $font-size-btn-large;
      font-family: $font-family!important;
      font-weight: 700;
      padding: 10px 28px;
    }
  }

  .v-btn.btnPrimary:hover, .v-btn.btnPrimary:focus,.v-btn.btnSecondary:hover, .v-btn.btnSecondary:focus {
    background-color: $btn-hover;
    color: $white;
  }
  .logOutBtn {
    .v-btn {
      justify-content: start;
      color: $primary;
    }
  }
  #main-app {
    &.totalApp {
      min-height: calc(100vh - 105px);
    }
    &.hidefooter {
      min-height: 100vh;
      background-color: $white;
    }
    background-color: $backgroundApp;

    #headerVide {
      min-height: 100%;
      height: 100%!important;
      .v-toolbar__content {
        height: 100%!important;
        .userInfo {
          .loginHeaderMenu {
            color: $primary;
            font-weight: bold;
            font-size: $font-size-small;
            &:hover {
              text-decoration: underline;
            }
            &.userLogin {
              &:hover {
                text-decoration: none;
              }
            }
          }
          .loginBtnMenu {
            .v-btn__content {
              font-size: $font-size-small;
              font-weight: $font-weight-semibold;
            }
          }
        }

        @media all and (max-width:959px) {
          .userInfo{
            order: 2;
          }
          .serviceInfo{
            order: 3;
            text-align: center;
          }
          .logoHeader {
            .logoImg {
              max-width: 130px!important;
            }
          }
        }
      }
    }
  }
  #stream-container {
    text-align: center;
    min-height: 66vh;
    iframe {
      min-height: calc(100vh - 280px);
      max-width: 1038px;
      border-radius: $border-radius;
      .leftwatermark {
        display: none;
      }
    }
  }

  @media all and (max-width: 1264px) {
    #stream-container {
      min-height: 100%;
    }
  }

  #virtualDeskStream {
    .minHeightStream {
      @media (min-width: 720px){
        min-height: calc(100vh - 208px);
      }
    }
    .jitsiBtnControl {
      .v-btn {
        height: 52px;
        width: 52px;
      }
      .col-btn {
        i {
          color: $primary;
          &.iconHangup {
            color: $white;
          }
        }
        .btnHangup {
          background-color: $red;
        }
      }
      .clockBox {
        background-color: $light-blue;
        color: $black!important;
        border-radius: $border-radius;
        .time {
          font-size: $font-size-extra-small;
          margin-bottom: 0px;
          .iconClock {
            font-size: $font-size-h5;
            margin-top: -5px;
            color: $black!important;
          }
        }
      }

      label {
        font-size: 14px;
        font-weight: bold;
        padding-top: 10px;
      }
      @media all and (max-width: 720px) {
        label {
          display: none!important;
        }
        .v-btn {
          height: 40px;
          width: 40px;
        }
      }
    }
    @media all and (min-width: 520px) {
      #uploadFilePopup {
        width: 500px!important;
      }
    }
    
  }
  .startVide {
    h2 {
      font-size: 32px;
    }
    .descriptionVide {
      font-size: $font-size-h5;
    }
    .card-title-servizi {
      font-size: 32px;
    }
    .cardServizi {
      .carousel-servizi {
        .row-carousel {
          height: 100%;
          .column-carousel {
            position: relative;
            height: 75%;
            border-top-right-radius: 100%;
            width: 20em;
            background-color: $primary;
          }
          .link-active {
            font-weight: $font-weight-semibold;
            font-size: $font-size-medium;
            text-decoration: underline;
            position: absolute;
            bottom: 20%;
          }
        }
      }
      .imgServizi {
        height: 100%;
      }
    }
  }

  
  .login-card {
    .v-card__title {
      font-size: 31px;
      font-weight: bold;
      padding-bottom: 0px;
    }
    .v-card__subtitle {
      font-size: 24px;
    }
  }

  .dettaglio-appuntamento {
    .v-list-item {
      border-bottom: 1px solid $light-gray;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .btn-returnApp {
    max-width: 684px;
    font-family: $font-family;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 16px;
    .v-btn {
      padding: 0px;
    }
  }

  .card-detailApp {
    .v-card__title {
      font-size: 36px;
      font-weight: bold;
    }
  }

  footer {
    min-height: 82px;
    margin-top: 0px;
    position: relative;
  }

  .v-date-picker-table {
    .v-btn--active{
      background-color: $primary !important;
      border-color: $primary !important;
    }
    .v-date-picker-table__current {
      &.v-btn--outlined {
        color: $primary !important;
        caret-color: $primary !important;
      }
    }
  }

  .tabsSendFile {
    .sendFileTab {
      background-color: $light-blue;
      min-height: calc(100vh - 405px);
      .file-upload-list {
        margin-left: 15px;
        &:not(:first-child){
          border-top: 1px solid #E2E2E2;
        }
      }
    }
    .actionBtn {
      &.downloadBtn {
        color: $primary;
      }
      font-size: $font-size-minimo;
      .v-icon {
        color: $primary;
      }
    }
    .btnReload {
      padding: 30px 15px;
      background-color: $light-blue;
    }
    .v-tabs-slider-wrapper {
      height: 3px!important;
      .v-tabs-slider {
        background-color: $primary!important;
      }
    }
    .v-tab--active {
      font-weight: 700!important;
      color: $primary!important;
    }
  }
  .upSendFilesToolbar {
    height: 100%!important;
    .v-toolbar__content {
      padding: 15px 30px;
      height: 100%!important;
      .upSendFilesToolbartitle{
        height: 100%!important;
        width: 100%;
        .close-button {
          &:hover:before {
            opacity: 0!important;
          }
        }
      }
    }

  }

  #app-table {
    .text-start {
      color: $black;
    }
  }

  .progressCircularText {
    font-size: $font-size-standard;
    color: $primary;
    font-weight: $font-weight-semibold;
  }
}

.col-logo {
  display: none;
  #logoPartner {
    max-width: 135px;
  }
}
@media all and (min-width:720px){
    
  .col-logo {
    display: block;
    
  }
}

.streamCamera, .canvasCamera {
  width: 100%;
  height: auto;
}

.other-options {
  .v-list-item {
    strong {
      font-weight: 600!important;
    }
    &.v-list-item--active, &:not(.v-list-item--active):not(.v-list-item--disabled) {
      color: $black!important;
      font-weight: 600!important;
      &::before {
        opacity: 0!important;
      }
    }
  }
}

.v-card__title {
  word-break: break-word;
}
